@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217.2 32.6% 17.5%;
    --foreground: 0 0% 98%;
    --card: 217.2 32.6% 17.5%;
    --card-foreground: 0 0% 98%;
    --popover: 217.2 32.6% 17.5%;
    --popover-foreground: 0 0% 98%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 217.2 32.6% 17.5%;
    --secondary: 142.1 70.6% 45.3%;
    --secondary-foreground: 217.2 32.6% 17.5%;
    --muted: 215 14.3% 34.9%;
    --muted-foreground: 215.4 13.9% 73.9%;
    --accent: 142.1 70.6% 45.3%;
    --accent-foreground: 217.2 32.6% 17.5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 25%;
    --input: 217.2 32.6% 25%;
    --ring: 142.1 70.6% 45.3%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}